<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">
<title>All Users List</title>
<head>

</head>
<body>

<p>All Users List</p>
<table>
    <tr>
        <th th:text="${success}"></th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.username}"/>
    </tr>
</table>


<div>

    <table>
        <tr>
            <th>
                name
            </th>
            <th>
                character class
            </th>
            <th>
                level
            </th>
            <th>
                exp
            </th>
        </tr>
        <tr th:each="user: ${users}">

                <td th:text="${user.username}"/></td>

            <td th:text="${user.characterClass}"/></td>

            <td th:text="${user.userLvl}"/></td>

            <td th:text="${user.exp}"/></td>

        </tr>
    </table>

</div>


</body>
</html>






